<div class="container-fluid">
    <h4>
        Thinking of adding a quote?
    </h4>
    <form #quoteForm = 'ngForm' (ngSubmit) = 'submitQuote()'>
        <div class="quotes-form-input">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="authorInput" placeholder="Author">
                <label for="floatingInput">Author:</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Leave your quote here" id="quoteInput" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Your quote here:</label>
            </div>
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="dateInput" placeholder="Date Published">
                <label for="floatingInput">Date Published:</label>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-secondary">Publish Quote</button>
    </form>
</div>