<div class="container-fluid">
    <div class="welcome">
        <p>
            Welcome to the Quotes For You Page!
        </p>
    </div>
    <div class="content">
        <p>
            QUOTES 4 YOU
        </p>
        <hr>
        <p>
            Find all the quotes you require for any occasion. 
        </p>
        <p>
            Here you will find quotes by various authors and you will be able 
            to vote on the quotes you like.
        </p>
    </div>
    <div class="lookmore">
        <p>
            Browse our page for more. I hope you enjoy.
        </p>
    </div>
</div>
