.quotes-cards{
    width:100%;
}
.col{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}
.card-body{
    margin:5px 0px;
}
.card{
    background-color: #9b8991;
}
.container-fluid{
    background-color: #f4f4f0;
}